$window-width-normal: 992px;
$window-width-larger: 1200px;

$container-width-normal: 960px;
$container-width-larger: 1100px;

$a-hover-color: #30a9de;
$text-color: #3c4858;
$text-color-lighter: #718096;


$background-color-gray: #f8fafc;
